<h1>This is my defer Component</h1>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque praesentium
  quo repudiandae dolores vitae earum ipsum iste vel mollitia amet nesciunt hic,
  laboriosam, dolorem veritatis optio, enim facere distinctio provident?
  Possimus provident quidem, nemo tenetur nobis libero, dolor totam incidunt
  cumque magnam voluptatem eius sapiente fuga reiciendis repellat! Blanditiis
  beatae reiciendis expedita cumque cupiditate, aut placeat enim at tempore ea?
  Distinctio, suscipit temporibus pariatur in dicta molestiae! Dignissimos non
  deleniti facere voluptatibus sapiente ipsam fugit ab quos, ea doloribus,
  praesentium atque minus amet quo ducimus tenetur ullam id. Maxime, commodi.
  Ipsam quaerat temporibus, quod tempore eius quam harum sint? Alias, doloremque
  quod obcaecati provident dolor ipsam, unde inventore voluptate dolores quas
  tenetur et voluptatum dignissimos sed non impedit velit reprehenderit?
  Reiciendis, expedita. Itaque incidunt, possimus id ea quaerat inventore
  aspernatur quia non officia sit, consequuntur eum suscipit numquam fugit ad
  expedita atque tempora, et alias maiores adipisci doloremque at velit!
  Suscipit, animi quidem tempora nulla dolorum hic odit minus facere debitis
  sunt repellendus iste delectus quaerat temporibus ipsum quia. Nostrum vel,
  quaerat veritatis sint pariatur quasi dolorum perferendis modi in! Labore enim
  deserunt possimus, dolore dolores perferendis, pariatur commodi laudantium
  aperiam accusamus debitis nulla itaque eum dicta minus et eligendi unde? Dolor
  vel cum sequi quo? Perspiciatis excepturi suscipit illum? Deserunt
  consequuntur placeat voluptates explicabo, ipsam cumque iste dicta minus
  tempora quam itaque aliquam esse, illum harum eum similique quasi quis rem
  ullam expedita consectetur natus animi delectus temporibus! Laboriosam!
  Consectetur laudantium, iusto eligendi tempora iste, ut praesentium cupiditate
  quos est similique magni numquam commodi aliquam saepe! Omnis, ut repellat.
  Itaque quis et tempora repellendus! Tempora, error quibusdam! Incidunt, optio!
  Laboriosam consequuntur quos iste cumque voluptate maxime illo accusantium,
  placeat animi sed obcaecati sequi molestiae ipsum. Iusto reiciendis dolorem
  enim consequuntur et quasi numquam sequi tempore, modi tenetur aperiam vero!
  Pariatur, alias expedita rem a quaerat placeat tenetur, eius iusto commodi
  dolorum ut quidem fugiat consectetur, minus possimus quae vero dolorem iste
  aspernatur illum? Maiores amet incidunt omnis dolor laborum? At tenetur
  officia corporis, debitis quos eveniet mollitia doloribus quis vel.
  Repellendus accusamus illum ipsum ut corrupti vel, amet, sint a dolorem nobis
  rerum natus in qui, repellat obcaecati fuga? Vel esse aliquam minus facere
  unde placeat dicta sequi earum consequuntur repudiandae deserunt,
  reprehenderit rerum ut animi alias reiciendis enim tempore. Ratione sapiente
  at, vero architecto fugiat expedita illo consequuntur. Quos, quis obcaecati
  quia sequi maiores quae, nobis veniam libero deserunt porro illo praesentium
  fuga velit molestiae voluptas eum saepe in earum natus? Asperiores, cupiditate
  dolor perferendis quisquam animi sed. Quia, pariatur ab odio quos eligendi
  tempora ex alias consequatur deleniti at? Reprehenderit ipsa cum facere cumque
  quos inventore sed accusamus velit rem unde. Minima voluptatem voluptates ex
  quisquam tenetur. Placeat illum corporis saepe nihil facere odio, consectetur
  officia tenetur ducimus necessitatibus beatae minima, explicabo assumenda non
  velit omnis distinctio atque nobis ad repudiandae. Soluta possimus vel
  consequuntur hic laudantium! Omnis, amet! Eaque voluptates nemo deserunt sint
  totam laboriosam maxime ex, facere, numquam inventore omnis et labore
  quibusdam delectus minima, optio atque iure harum. A et delectus aliquam sequi
  at! Aperiam, quaerat itaque vitae enim omnis quibusdam obcaecati consectetur!
  Sint recusandae esse expedita voluptatum pariatur nihil id explicabo odio
  reprehenderit soluta minus, illum deserunt ut, distinctio voluptas laudantium
  consequatur dolorem. Commodi quisquam ad deserunt sed quos ipsam animi libero
  reprehenderit adipisci. Eius aut labore pariatur autem ut quia vel sapiente
  officiis, beatae officia adipisci molestias exercitationem totam quos
  recusandae illum. Ipsam explicabo eos, unde sit culpa inventore. Eaque id
  officia cupiditate voluptatibus illum est tempora ut inventore cumque quo nemo
  atque nulla accusantium minima, repellat magni aliquam nostrum beatae itaque.
  Magnam repellat accusamus repudiandae fugiat soluta assumenda adipisci,
  aspernatur consequatur labore quo officia animi suscipit expedita dolorum
  illum! Ipsum vero at aliquam hic eaque fugit rerum ut ex eligendi
  necessitatibus. Asperiores aliquam qui modi rem, laudantium debitis
  necessitatibus porro dolorum deserunt doloremque dignissimos sapiente quasi
  sed consectetur repudiandae inventore quae accusamus, accusantium nihil,
  labore magnam beatae? Doloribus placeat quia vero. Dignissimos repudiandae
  facilis molestiae impedit necessitatibus iure cumque ipsam, dolorum, a fugit
  voluptates expedita modi nihil. Fuga, ea. Soluta doloribus minus obcaecati,
  aspernatur atque enim aliquid laudantium perferendis minima cupiditate!
  Consequatur voluptatibus omnis adipisci laborum similique officia cumque,
  ipsam, placeat corporis, natus ipsum inventore dignissimos dolorem
  accusantium. Voluptate ex aut iusto culpa nostrum autem in enim. Assumenda
  eligendi nisi harum. Nostrum magni illum quisquam blanditiis vel qui ex
  recusandae exercitationem, neque iure maxime nihil aperiam voluptas.
  Cupiditate, ullam delectus, consectetur reiciendis veritatis fugit esse
  nostrum omnis, minus dolorum fuga quidem? Aut quos at cupiditate quibusdam nam
  modi corrupti, quis quas soluta, non laborum pariatur porro qui, vitae error
  culpa labore vel eligendi voluptatibus repudiandae mollitia libero beatae
  eaque. Explicabo, veniam! Exercitationem officia dolorum nam tenetur autem
  corrupti molestias. Fugiat mollitia cumque rem expedita ullam corporis
  consequuntur amet unde, sed totam aspernatur voluptatibus maiores ipsum non
  sint harum rerum? Doloremque, culpa. Voluptatibus ex neque cumque. Qui iste
  earum fugiat sint. Ratione voluptatibus laboriosam, repudiandae eaque vitae
  aspernatur sit quibusdam unde obcaecati aliquam, nobis voluptas quos, possimus
  quis consectetur voluptate doloremque dolorum! Ea provident, tempore
  exercitationem distinctio, quae aliquid tenetur quaerat quod laborum, iure
  voluptatibus. Quibusdam, similique cumque! Eveniet quibusdam saepe magni ipsum
  eaque, consequuntur quo, libero sunt delectus accusamus mollitia eligendi?
  Dolorum, unde qui incidunt esse quam deserunt nesciunt doloribus veniam
  aperiam suscipit sequi architecto quia obcaecati maiores recusandae molestiae
  cumque minima laboriosam, eaque repellendus. Ratione iure eligendi saepe
  consectetur animi? Laudantium dolor magni numquam nisi exercitationem
  dignissimos! Placeat similique eos in earum sequi quasi enim, consequuntur a
  quis odit, et expedita assumenda maiores quia sint excepturi. Neque in
  laudantium ratione. Unde deserunt animi distinctio ducimus molestias iusto
  exercitationem ex nobis tempore nihil expedita delectus, rem dolore nemo eum
  illum quasi hic, velit nisi adipisci dignissimos quia veritatis cupiditate
  nulla. Sunt. Facere, soluta quos adipisci ipsa quis ut officia cumque dolorum
  autem veniam perferendis iste neque maxime quisquam! Mollitia quibusdam saepe
  soluta repellat debitis corporis amet incidunt tempore. Exercitationem,
  molestias minima. Expedita blanditiis soluta pariatur culpa modi numquam?
  Minima perspiciatis sint eos nulla recusandae debitis earum natus sequi nemo
  ea, dolorum dolor soluta aliquam expedita ab necessitatibus temporibus rerum
  voluptatibus quaerat. Blanditiis, sint eos similique perferendis a ipsa minima
  dolores obcaecati alias voluptas aspernatur praesentium, id ducimus laborum ut
  molestias laboriosam ad quia molestiae porro et eaque? Facilis quo obcaecati
  quisquam? Vero, iure corrupti, natus sequi itaque nemo, amet recusandae ad
  omnis tempore aut. Id facilis a, quae recusandae eos illum qui sed excepturi
  autem nihil fuga dolore quibusdam nostrum beatae. Obcaecati necessitatibus quo
  nesciunt ducimus tempora nostrum consequatur vel ipsum at eaque error voluptas
  atque, deserunt totam a, dolorum libero est? Id laudantium odit aliquam quae
  nemo magni, molestias consequatur? Non aperiam inventore, veniam praesentium
  doloremque excepturi aspernatur! Nisi nobis, aperiam quasi voluptate ea iusto
  explicabo tempora facilis, reiciendis inventore eaque. Ut architecto
  repellendus fugiat eos quo. Doloribus, cum libero. Corrupti corporis veniam
  dolore dolores ex accusamus et commodi ducimus quae tenetur fugit incidunt,
  inventore id, amet laboriosam dolorem! Culpa, quis! Quam placeat facilis vitae
  eos necessitatibus illo voluptatibus ea! Iure exercitationem vero sed eum,
  fugiat alias ipsam dolorum quo temporibus deleniti optio dolorem
  reprehenderit. Magni a saepe, molestias velit quaerat accusantium impedit non
  quae cumque amet sequi adipisci modi. Sit nulla fugit a quos quasi, voluptas
  inventore! Repudiandae temporibus sit quae velit facere deleniti nisi
  eligendi? Aut optio dolores voluptatem pariatur similique nihil, officia
  aperiam omnis vitae repellendus saepe! Consequuntur impedit maiores numquam
  consequatur beatae, facere quo alias sed eos culpa. Minima velit expedita
  necessitatibus reprehenderit dignissimos voluptate natus temporibus,
  exercitationem, veniam quos facere. Quos fuga voluptates quo dolorum! Eum
  explicabo aspernatur dolor, eos labore iusto harum velit itaque atque placeat
  totam nobis consequatur deleniti alias repellendus quo in nam dicta id
  voluptas impedit fugiat quis! Ullam, et maxime. Porro pariatur quas ea, eos
  doloremque voluptate dolore quae debitis magni doloribus a maxime at optio
  culpa itaque explicabo eaque dolor similique magnam expedita non hic sit!
  Cumque, autem voluptates. Consectetur, libero itaque voluptas doloribus iusto
  perferendis? Officia exercitationem ea inventore soluta voluptatibus sed
  impedit voluptatum optio, eum aliquid perferendis architecto dolore placeat
  dolorem distinctio facilis atque veritatis, tenetur esse. Eos iste corporis
  vel minus sequi quasi amet ipsa dolorem architecto, similique magnam odio,
  praesentium, temporibus maxime id doloremque dicta quam. Sunt qui voluptatibus
  aut quod aliquid ipsa et animi. Laboriosam accusamus eum unde magni? Amet
  placeat in nisi doloremque, ad aut iusto voluptatum ratione a autem quo
  exercitationem voluptas pariatur, minus dolorum porro delectus numquam iure
  temporibus facilis dignissimos. Quasi beatae non in iure ab quaerat placeat
  laboriosam repudiandae dolore sint officiis eos iusto, eius debitis, illum
  iste? Fugit eveniet saepe repellendus quaerat consectetur voluptatibus
  obcaecati, animi totam voluptatum. Atque error ducimus fugiat dolor
  consequatur culpa officiis deserunt iste laudantium, temporibus, sunt, quae
  dolorem. Deleniti suscipit, praesentium non voluptas voluptatem animi ea
  magnam similique minus nemo ut beatae dolorum. Delectus saepe consequuntur
  esse, in facere iure modi ullam quae repellat doloribus animi minima
  repellendus eaque molestias neque asperiores laboriosam officiis aperiam totam
  eius ex beatae? Consequatur sed voluptates quos. Lorem ipsum, dolor sit amet
  consectetur adipisicing elit. Omnis aperiam tenetur nesciunt blanditiis
  officia ipsum totam recusandae debitis veniam, delectus ratione, distinctio
  quod reprehenderit dolores nemo. Vero itaque sunt voluptas. Excepturi minima
  saepe, dignissimos, doloribus suscipit aspernatur earum perspiciatis facere
  sit delectus ratione officiis nemo. Vitae, commodi. Molestias non harum
  dignissimos. Velit impedit asperiores reprehenderit dicta fugiat accusantium
  quo at? Dolorem obcaecati laudantium, unde, odio quos architecto corporis est
  dicta quas dolorum et veritatis. Veniam ad tempore vero, sit ducimus vel
  praesentium, et accusantium a nesciunt magnam ea accusamus expedita! Eos
  aperiam, repudiandae deleniti impedit doloribus pariatur voluptatibus.
  Mollitia perspiciatis veniam in, cumque unde eveniet voluptates autem omnis,
  ut ad maxime laboriosam distinctio aliquid excepturi vitae praesentium maiores
  inventore laudantium? Ea beatae dolor nulla exercitationem autem, dicta
  doloremque voluptatem dolorum, consectetur amet placeat maxime modi
  consequuntur recusandae veniam possimus ab cumque ex. Rem, recusandae ipsam.
  Tempora in aut commodi earum. Amet suscipit cupiditate aliquam voluptatem,
  dolorem veritatis accusantium qui aliquid reiciendis vitae quia, quos in
  quibusdam corporis ratione eligendi rem maxime delectus obcaecati quidem ipsam
  illo! Eveniet perspiciatis beatae voluptate. Facere modi earum iste non a vero
  rerum repellat amet eligendi? Ut voluptatibus dolorem, eius vero deleniti
  tenetur. Corrupti ab, officiis possimus quaerat necessitatibus eum non
  voluptas excepturi eligendi repellendus. Enim quasi accusantium, asperiores
  laboriosam modi nobis at maxime ex alias quos, labore animi corrupti. Animi
  esse id vero, quis rerum eveniet. Velit magnam fuga iusto minima ex, laborum
  dignissimos? Nisi corporis libero vitae quis molestiae asperiores ea, tempore
  quos fuga eaque nesciunt aspernatur at rerum cumque ut, saepe neque laboriosam
  impedit! Aspernatur sunt ullam quis deserunt reprehenderit, saepe soluta.
  Magni rem tempora recusandae autem, consequatur possimus vitae animi, et
  libero debitis nesciunt nisi quidem! Sint, dignissimos ex assumenda maiores
  veniam at pariatur enim nulla, molestiae facere, temporibus tenetur
  perferendis.
</p>

@defer (on viewport){
<p>Will only load when in viewport.</p>
}@placeholder{
<p>This is placeholder data</p>
}@loading (minimum 2s){
<p>loading...</p>
}
